body{
    font-family: 'advent pro', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: rgb(204, 193, 193);
}
/****************NAVBAR************************/
nav{
    overflow: hidden;
    background-color:#0a0a0a;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}
#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
    
}
#home{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
    margin: 0 -2px;
}
#watch1{
    margin: auto;
}
#watch2{
    margin: auto;
}
#watch3{
    margin: auto;
}
#watch4{
    margin: auto;
}
#panier{}
/**************Menu******************************/

.sub-menu{
    display: flex;
    flex-direction: column-reverse;
}

.sub-menu li{
    display: none;
    list-style: none;
}
/*
.sub-menu li:hover{
    display: flex;
}
/**************** IMAGE******************/
#imagePrincipale{
    padding-top: 60px;
    background: url("presentation-pc.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
    
}
#imagePrincipale1{
     padding-top: 60px;
    background: url("") no-repeat fixed 50% 50%;
    background-size: cover;
    background-color: #0a0a0af6;
    height: 320px;
}
#imagePrincipale2{
    padding-top: 60px;
    background: url("") no-repeat fixed 50% 50%;
    background-size: cover;
    background-color: #0a0a0af6;
    height: 320px;
}
#imagePrincipale3{
    padding-top: 60px;
    background: url("") no-repeat fixed 50% 50%;
    background-size: cover;
    background-color: #0a0a0af6;
    height: 320px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 72px;
    text-shadow: 1px 3px 2px black;
}
#premierTrait{
    height: 1px;
    width: 470px;
    margin:  -89px auto;
    background-color: #FFFAE1;
    text-shadow: 1px 3px 2px black;

    
}
#h3{
    font-family: 'Dancing Script', cursive;
    text-align: right;
    color: antiquewhite;
    text-shadow: 1px 3px 2px black;

}
/***************Presentation***********************/
#presentation{
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}
#textintro{
    font-family: 'advent pro', sans-serif;
    text-align: center;
    color: black;
}
.photos-produits{
    display: flex;
    justify-content: space-between;
}
#commander{
    font-family: 'advent pro', sans-serif;
    text-align: center;
    color: black;
}
.photos-produits img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

/*******************Footer*********************/
footer{
    background-color: #524A3A;
    color: #FFF3E1;
    padding: 20px 0px 10px 0px;
    text-align: center;
}
form{
    margin: 0px auto;
    max-width: 900px;
}
input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px ;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent', sans-serif;
    border-radius: 8px;
}
textarea{
    height: 120px;
}
button{
    font-size: 1.5em;
    background-color: #ed8408a6;
}
button:hover{
    background-color: #e55039;
    color: #fffae1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxieme-trait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightEticons{
    display: flex;
    margin-bottom: 20px;
    padding:  0px 10%;
}
.copyright{
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
.icones{
    width: 50%;
    text-align: right;
}  
